/* button span { font: 16px "baby_bb33", sans-serif; } */
.scene { color: #666; background: #000; }

.sheet>div, .sheet>svg { position: absolute; }

.sheet.fgs .fg.title { display: flex; left: auto; top: 24px; }
.sheet.fgs .fg.title div { margin: 0 4px; font: 180px "PlayTangram", sans-serif; }

.sheet.uis .seg.btns { right: 24px; bottom: 24px; }

