{{define "title"}}Tangram{{end}}
{{define "css"}}<link rel="stylesheet" href="/www/want/tangram.css">{{end}}
<div class="seg ct"> <!-- Segment Content -->
  <svg viewBox="0 0 1080 1080" preserveAspectRatio="xMidYMid meet">
    <g>
      <path id="triangle1" d="M440 376 L504 504 L376 504 Z" fill="black" />
      <path id="triangle2" d="M640 576 L704 704 L576 704 Z" fill="black" />
    </g>
  </svg>
</div>
<div class="seg tt"> <!-- Segment Title -->
  <div class="xtt"></div>
</div>
{{define "js"}}<script src="/www/want/tangram.js" defer></script>{{end}}
{{define "footer"}}Made with Hexjs{{end}}