html, body { display: flex; width: 100%; height: 100%; margin: 0;  padding: 0; background: #222; justify-content: center; align-items: center; overflow: hidden; }
body>div, .scene, .sheet { width: var(--w); height: var(--h); }
.seg { position: absolute; }

/* >.seg.tangram, .seg.gride, .seg.btns //\\ */
.sheet.fgs .seg.tangram { width: 100%; height: 100%; }

.sheet.uis .seg.gride { pointer-events: none; }

.sheet.uis .seg.btns { left: calc(100% + 8px); top: 50%; }
.sheet.uis.vertical .seg.btns { display: flex; left: 50%; top: calc(100% + 8px); }

.sheet.uis .seg.btns .btn { display:flex; width: 64px; height: 64px; border:1px solid #dae2; justify-content: left; align-items: center; }
.sheet.uis.vertical .seg.btns .btn { justify-content: right; }

.sheet.uis .seg.btns .btn span { display: block; left: calc(100% + 8px); font-size: 0px; white-space : nowrap; }
.sheet.uis.vertical .seg.btns .btn span { left: auto; top: calc(100% + 8px); }
.sheet.uis .seg.btns .btn:hover span { font-size: 24px; }

.sheet.uis .seg.btns .btn.color { background: no-repeat 0 0 / 100% url(../wads/ico/ico-tancolor.svg); }
.sheet.uis .seg.btns .btn.pluse { background: no-repeat 0 0 / 100% url(../wads/ico/ico-tanpluse.svg); }
.sheet.uis .seg.btns .btn.reset { background: no-repeat 0 0 / 100% url(../wads/ico/ico-tanreset.svg); }
.sheet.uis .seg.btns .btn.magnetic { background: no-repeat 0 0 / 100% url(../wads/ico/ico-tanmagnetic.svg); }
.sheet.uis .seg.btns .btn.grid { background: no-repeat 0 0 / 100% url(../wads/ico/ico-tangrid.svg); }
.sheet.uis .seg.btns .btn.printdownload { background: no-repeat 0 0 / 100% url(../wads/ico/ico-tansave.svg); }
.sheet.uis .seg.btns .btn.help { background: no-repeat 0 0 / 100% url(../wads/ico/ico-tanhelp.svg); }
.sheet.uis .seg.btns .btn.home { background: no-repeat 0 0 / 100% url(../wads/ico/ico-tanhome.svg); }

.sheet.uis .seg.btns .btn:hover { background-color: #dae6; }
.sheet.uis .seg.btns .btn.on { background-color: #dae6; }
/* >.seg.tangram, .seg.gride, .seg.btns //\\ */


/* <.seg.cards //\\ */
:root { --thumb-nail: 128px; --thumb-margin: 8px; }
.sheet.uis .seg.cards { left: calc(var(--thumb-nail) * -1 - 32px); top: 0; }
.sheet.uis.vertical .seg.cards { left: 0px; top: calc(var(--thumb-nail) * -1 - 32px); }

.sheet.uis .seg.cards .thumbs {
  width: fit-content;
  height: calc((var(--thumb-nail) + var(--thumb-margin)) * 8 + (var(--thumb-margin) * 3)); /* 8개 아이템의 높이에 맞게 설정 */
  overflow-x: auto;
  overflow-y: scroll;
}
.sheet.uis.vertical .seg.cards .thumbs {
  width: calc((var(--thumb-nail) + var(--thumb-margin)) * 8 + (var(--thumb-margin) * 3)); /* 8개 아이템의 높이에 맞게 설정 */
  height: fit-content;
  overflow-x: scroll;
  overflow-y: auto;
}
.sheet.uis .seg.cards .thumbs::-webkit-scrollbar { width: 4px; height: auto; }
.sheet.uis.vertical .seg.cards .thumbs::-webkit-scrollbar { width: auto; height: 4px; }

.sheet.uis .seg.cards .thumbs::-webkit-scrollbar-thumb { background: #dae; border-radius: 0; }
.sheet.uis .seg.cards .thumbs::-webkit-scrollbar-track { background: #dae8; border-radius: 0; }
.sheet.uis .seg.cards .thumbs ul, .sheet.uis .seg.cards .thumbs li { padding: 0; margin: 0; }
.sheet.uis.vertical .seg.cards .thumbs ul { display: flex; width: fit-content; }

.sheet.uis .seg.cards .thumbs li {
  position: relative;
  width: var(--thumb-nail);
  height: var(--thumb-nail);
  margin: var(--thumb-margin);
  list-style: none;
  border: 1px solid #dae;
  color: #888;
  pointer-events: fill;
}
.sheet.uis .seg.cards .thumbs li.on { background: #dae6; }

.sheet.uis .seg.cards .thumbs li>div { font: 14px "Black Han Sans", sans-serif; pointer-events: none; user-select: none; }
.sheet.uis .seg.cards .thumbs li .sec { position: absolute; right: 0; width: 16px; height: 16px; background: #dae; color: #000; font-size: 14px; line-height: 14px; text-align: center; border-radius: 8px 0 8px 8px; }
.sheet.uis .seg.cards .thumbs li .thumb { position: absolute; display: flex; width: 100%; height: 100%; color: #fff; font-size: 16px; font-weight: bold; justify-content: center; align-items: center; }


.sheet.uis .seg.cards .btns { position: absolute; display: block; width: calc(var(--thumb-nail) * 0.5); height: fit-content;  left: calc(var(--thumb-nail) * -0.5 - 8px); top: 0; }
.sheet.uis.vertical .seg.cards .btns { display: flex; width: fit-content; height: calc(var(--thumb-nail) * 0.5); left: 0;  top: calc(var(--thumb-nail) * -0.5 - 8px); }

.sheet.uis .seg.cards .btns .btn { display: flex; width: calc(var(--thumb-nail) * 0.5); height: calc(var(--thumb-nail) * 0.5);
  border: 1px solid #dae2; justify-content: right; align-items: center;
}
.sheet.uis.vertical .seg.cards .btns .btn { justify-content: left; }
.sheet.uis .seg.cards .btns .btn span { display: block; left: calc(-100% - 8px); font-size: 0px; white-space : nowrap; }
.sheet.uis.vertical .seg.cards .btns .btn span { left: auto; top: -100%; }
.sheet.uis .seg.cards .btns .btn:hover span { font-size: 24px; }

.sheet.uis .seg.cards .btns .btn.moveprev { background: no-repeat 0 0 / 100% url(../wads/ico/ico-moveprev.svg); }
.sheet.uis .seg.cards .btns .btn.movenext { background: no-repeat 0 0 / 100% url(../wads/ico/ico-movenext.svg); }
.sheet.uis .seg.cards .btns .btn.addprev { background: no-repeat 0 0 / 100% url(../wads/ico/ico-addprev.svg); }
.sheet.uis .seg.cards .btns .btn.addnext { background: no-repeat 0 0 / 100% url(../wads/ico/ico-addnext.svg); }
.sheet.uis .seg.cards .btns .btn.remove { background: no-repeat 0 0 / 100% url(../wads/ico/ico-remove.svg); }
.sheet.uis .seg.cards .btns .btn.draw { background: no-repeat 0 0 / 100% url(../wads/ico/ico-draw.svg); }
.sheet.uis .seg.cards .btns .btn.laydown { background: no-repeat 0 0 / 100% url(../wads/ico/ico-laydown.svg); }
.sheet.uis .seg.cards .btns .btn.playonce { background: no-repeat 0 0 / 100% url(../wads/ico/ico-playonce.svg); }
.sheet.uis .seg.cards .btns .btn.playstop { background: no-repeat 0 0 / 100% url(../wads/ico/ico-playstop.svg); }
.sheet.uis .seg.cards .btns .btn.playloop { background: no-repeat 0 0 / 100% url(../wads/ico/ico-playloop.svg); }
.sheet.uis .seg.cards .btns .btn.import { background: no-repeat 0 0 / 100% url(../wads/ico/ico-import.svg); }
.sheet.uis .seg.cards .btns .btn.export { background: no-repeat 0 0 / 100% url(../wads/ico/ico-export.svg); }

.sheet.uis .seg.cards .btns .btn:hover { background-color: #dae6; }
.sheet.uis .seg.cards .btns .btn.on { background-color: #dae6; }

.sheet.uis .seg.cards textarea { position: absolute; width: 240px; height: 18px; left: 158px; top: 8px; margin: 2px 0 0 4px; padding: 4px; background: #dae6; color:#666; font: 24px "Gowun Dodum", sans-serif; line-height: 18px; border-radius: 6px; border: 1px solid #dae; resize: none; pointer-events: fill; white-space: nowrap; overflow:hidden }
.sheet.uis .seg.cards textarea:focus { outline: none; }
/* >.seg.cards //\\ */



/* <.seg.skiaorama //\\ */
.sheet.fgs .seg.skiaorama.on { position: absolute; width: 100%; height: 100%; background: #000; }

/* >.seg.skiaorama //\\ */



/* <.seg.modal //\\ */
.sheet.uis .seg.modal.on { position: absolute; width: 100%; height: 100%; }
.sheet.uis .seg.modal.on .msgs { width: 100%; height: 100%; background: #fff; pointer-events: fill; }

.sheet.uis .seg.modal .btns { display: none; }
.sheet.uis .seg.modal.on .btns { position: absolute; display: inline-flex; right: 24px; bottom: 24px; }
.sheet.uis .seg.modal.on .btns .btn { padding: 4px 24px; background: #dae6; border: none; }
.sheet.uis .seg.modal.on .btns .btn span { color: #dae; font: 16px "Black Han Sans", sans-serif; }
.sheet.uis .seg.modal.on .btns .btn:hover span { color: #fff; }
.sheet.uis .seg.modal.on .btns textarea { width: 240px; height: 18px; margin: 2px 0 0 4px; padding: 4px; background: #dae6; color:#666; font: 24px "Gowun Dodum", sans-serif; line-height: 18px; border-radius: 6px; border: 1px solid #dae; resize: none; pointer-events: fill; white-space: nowrap; overflow:hidden }
.sheet.uis .seg.modal.on .btns textarea:focus { outline: none; }
/* >.seg.modal //\\ */



@media print {
  body {
    margin: 0;
    padding: 0;
  }

  iframe {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    flex-wrap: wrap;
  }
}
