
@import url('https://fonts.googleapis.com/css2?family=Dokdo&family=Gowun+Dodum&family=Black+Han+Sans&display=swap');

html, body {
  position: relative; 
  display: flex;
  width: 800px; height: 800px;
  margin: 0; padding: 0;
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
  overflow: hidden; /* 전체 스크롤 숨기기 */
  background: #222;
}

body {
  background-color: #000;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */

  /* font-family: 'Dokdo', system-ui; */
  /* font-family: 'Gowun Dodum', sans-serif; */
  /* font-family: 'Black Han Sans', sans-serif; */
}

body::-webkit-scrollbar {
  display: none; /* 크롬, 오페라, 사파리 */
}

div, svg {
  width: max-content; height: auto;
  font: 16px 'Black Han Sans', sans-serif;
  user-select: none;
}

span {
  font: 16px 'Dokdo', system-ui;
  user-select: none;
}

button {
  width: max-content; height: auto;
  font: 16px 'Black Han Sans', sans-serif;
  user-select: none;
}

footer {
  position: absolute;
  width: 100%; height: auto;
  left: 0; bottom: 0;
  color: #dae2;
  font: 16px 'Gowun Dodum', sans-serif;
  text-align: center;
}

.bed {
  display: flex;
  flex-direction: column;
  width: 100%; height: 100%;
  justify-content: center;
  align-items: center;
}
